@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
main {
    position: relative;
    height: 100vh;
}

body{
    background: black url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}


section#tel{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png); 
}

section#redes{
    text-align: right;
}

iframe#tela{
    position: relative;
    top: 79px;
    left: 22px;
    width: 265px;
    height: 471px;
}

img {
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    margin: 10px;
    box-sizing: border-box;
    transition: 0.5s;

    /*
    A CONFIG "box-sizing: border-box;" FAZ COM QUE A BORDA AO REDOR FAÇA PARTE DO MEU ELEMENTO.

    QUANDO UTILIZO O PSEUDOELEMENTO HOVER, PORTANTO, A BORDA QUE APARECE FAZ PARTE DO MEU ELEMENTO
    */
}

img:hover{
    border: 2px rgba(255, 255, 255, 0.6)
     solid;
     transition: 0.5s, border 0.5s;

    /*CONSIGO FAZER UM TRANSITION PRA BORDER CASO EU ESPECIFÍQUE*/

     transform: translate(-2px,-2px);
     height: 60px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}